.paragraph {
    font-size: 16px;
}
.black {
    color: black;
}
.text_pos {
    margin: auto;
    width: 50%;
    padding:10px;
    position: relative;
    top: 10px;
}
.toolbar {
    position: relative;
    left: 75px;
}
.center_text {
    text-align: center;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.project {
    border: 1px solid black;
}
.project_head {
    table-layout: fixed;
}
.top_padding {
    position: relative;
    top: 50px;
}
.code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }